APP_NAME="Villa Booking System"
APP_ENV=production
APP_KEY=base64:dGlJM6BdddglyqbC42YlAGLavQuAvb6CK2srM6y+nEk=
APP_DEBUG=false
APP_URL=https://app.alseef-villas.com

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=your_hostinger_db_name
DB_USERNAME=your_hostinger_db_user
DB_PASSWORD=your_hostinger_db_password

WHATSAPP_CLOUD_TOKEN=EAAW6NIGs3xcBRM8shFeq6994fy3Xsq0eFCqoTRaeVKgJUPPVgDiqQUZBnGfZCQ6XZA1J8ZByeOvEE4Sj9zzRiYp1H1w5b5OE1YZCY67YIixBHZBXZCLDsTlgkS03irT7ERVaLZABE7ZBZCk8EszJFMiT2PILFvC7DHwWBZCjtNV6fvFbi03SiM5m8pH26Na4xZCxVwZDZD
WHATSAPP_CLOUD_PHONE_NUMBER_ID=1220117564514264
WHATSAPP_CLOUD_WABA_ID=1333305311463793
WHATSAPP_CLOUD_API_VERSION=v25.0
WHATSAPP_MANAGEMENT_NUMBER=
WHATSAPP_BOOKING_TEMPLATE_NAME=
WHATSAPP_BOOKING_TEMPLATE_LANG=en
WHATSAPP_BOOKING_ALERT_NUMBER=96878622990
WHATSAPP_ADMIN_NUMBERS=96878622990,96899999999
WHATSAPP_RELAY_SECRET=replace-with-a-long-random-secret

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

CACHE_STORE=file

SANCTUM_STATEFUL_DOMAINS=app.alseef-villas.com
